<div>
    <h1>{{title}}</h1>
    <div class="dropdown">
      <button ng-click="toggleDropdown()" class="dropdown-toggle">
        <h2><u>Features</u></h2>
      </button>
      <ul ng-show="dropdown" class="dropdown-menu">
        <li ng-repeat="feature in features">
          <a href="{{feature.title_link}}">
            <h2 class="feature-title">{{feature.title}}</h2>
          </a>
          <ul class="feature-description">
            <li ng-repeat="d in feature.description">{{d}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  