.blog-post {
  margin: 20px;
}

.individual-page {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 20px;
  margin-left: 278px;
  margin-bottom: 20px;
  height: auto;
  width: 700px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  
}

.post-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}


.post-date {
  font-style: italic;
  color: #888;
  margin-bottom: 10px;
}

.post-content {
  margin-bottom: 10px;
  font-size: 20px;
}

button {
  padding: 10px;
  margin-top: 10px;
}
.back-button {
    background-color: #152238;
    border: none;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.wp-button {
    background-color: #152238;
    border: none;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.post-id-button {
    height: 70px;
    width: 175px;
    /* Basic button styling*/
    background-color: #152238;
    border: none;
    color: white;
    padding: 10px;
    margin-top: 10px;
    /* Round the corners of the button */
    border-radius: 5px;
    /* Add a drop shadow */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    /* Add a slight transition to the hover state */
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
    font-weight: bold;
}


.post-id-button:hover {
    /* Change the background color on hover */
    background-color: #152238;
    /* Add a drop shadow on hover */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    /* Scale up the text a bit on hover */
    transform: scale(1.05);
}