.book-directory {
  margin: 50px;
  font-family: Arial, sans-serif;
  color: #333;
}

.book-directory .message {
  font-style: italic;
}

.book-directory h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Add box-shadow and background-color properties to create a shaded box */
.book-directory .book-item {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  background-color: #fff;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* On hover, increase the box shadow and change the background color */
.book-directory .book-item:hover {
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  background-color: #e3e3e3;
}

/* Hide the post content by default */
.book-directory .book-item .post-content {
  display: none;
}

/* On hover, show the post content */
.book-directory .book-item:hover .post-content {
  display: block;
}



.book-directory a {
  color: #333;
  text-decoration: none;
}

.book-directory .book-item a:hover {
  text-decoration: underline;
}

.book-directory .book-item .date {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
  margin-bottom: 10px;
}
