a {
  text-decoration: none;
  color: inherit;
}

.book-container {
  margin: 20px;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

.book-container > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.book-container .book-card {
  height: 300px;
  width: 1200px;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.book-container .book-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.book-container .title-container {
  height: 300px;
  width: 1200px;
  z-index: 2;
  background-color: #152238;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s ease-in-out;
}

.book-container .title-container:hover {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.book-card p {
  margin: 0;
  padding: 5px;
  color: #042f66;
  font-size: 1.2rem;
  line-height: 1.5;
}
