a {
  text-decoration: none;
  color: inherit;
}

.book-container {
  margin: 20px;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

.book-container > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.book-container .title-container {
  height: 200px;
  width: 800px;
  z-index: 1;
  background-color: #152238;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s ease-in-out;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.title-container p {
  margin: 0;
  padding: 5px;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5;
}

.book-card:hover {
  opacity: 1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;
}

.book-card {
  height: 150;
  width: 800px;
  z-index: 2;
  background-color: #f6f6f6;
  border-radius: 10px;
  color: #152238;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.book-card p {
  margin: 0;
  padding: 5px;
  color: #152238;
  font-size: 1.2rem;
  line-height: 1.5;
}

.book-card button {
  margin: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #152238;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


/* Styling for search item */

/* Search input style */
input[type="text"] {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 200px;
}

/* Search button style */
.button-search {
  background-color: #2e3d9a;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}